  .country-img {
    float: left;
    width: 50%;
    height: 25vh;
    object-fit: cover;
  }
  
  .country-heading {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    background-color: #ebe2b1;
    color: #888263;
    padding-left: 15px;
  }
  
  .country-visit {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: #4d8088;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
  }
  
  .country-section {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: #deecef;
    color: #4d8088;
    width:fit-content;
    padding: 5px;
  }
  
  .tuition {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .country-div {
    margin-left: 15px;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 60px;
  }
  
  table{
    border: 1px solid #4d8088;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  th {
    background-color: #4d8088;
    color: white;
    padding: 5px;
  }
  
  td {
    background-color: #f1f0ea;
    border: 1px solid #4d8088;
  }
  