  .form {
    display: inline-block;
    background-color: #deecef;
    padding-bottom: 10px;
  }
  
  .form-area {
    width:40vw;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-div {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 60px;
  }
  
  .form-button {
    border: 0;
    border-radius: 4px;
    padding: 10px;
    margin-left: 15px;
    font-weight: bold;
    background-color: #2c5156;
    color: white;
  }
  
  .form-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
  }
  
  .form-img {
    position: fixed;
    bottom: 7%;
    height: 200px;
  }
  
  .form p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: medium;
  }
  
  @media (max-width: 800px), screen and (max-device-width: 800px) {
    .form-div {
      margin-bottom: 10%;
      width: 75%
    }
    .form-img {
      display: none;
    }
    .form-area {
      width:60vw;
    }
  }