.cju {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2em;
    max-height: 30px;
}

.cju-bg {
    display: flex;
    background-color: #2c5156;
    justify-content: center;
    width: auto;
    padding-bottom: 10px;
    max-height: fit-content;
}

.navul {
    list-style-type: none;
    display: flex;
    background-color: #4d8088;
    margin-block-start: 0;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.navli {
    font-family: arial;
    font-size: 17px;
}

.navli a {
    color: white;
    text-decoration: none !important;
    text-transform: uppercase;
    float: left;
    padding: .60em;
}

.navli > a:hover {
    background-color: #6dafb9;
  }

footer {
  background-color: #4d8088;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 45px;
  text-align: center;
}

.foot-note {
  margin: 3px;
  font-size: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px), screen and (max-device-width: 800px) {
  /* media viewport */
  .cju {
    font-size: 1.5em;
  }
  .navli {
    font-size: 12px;
  }
  
  .foot-note {
    font-size: 12px;
  }
  footer {
    max-height: 50px;
  }
}

/* @media (max-width: 430px), screen and (max-device-width: 800px) {
  .cju {
    font-size: 1.2em;
  }
} */

/* TODO: responsive images */