/* Slideshow container */
.slideshow-container {
    padding-top: 10px;
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .captext {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: Verdana, sans-serif;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

aside {
  padding: 10px;
  border:10px solid white;
  background-color: #ebebeb;
  flex-basis: 30vw;
}

main {
    flex-grow: 1;
    flex-basis: 0;
  }

.cju {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2em;
    max-height: 30px;
}

.cjuBg {
    display: flex;
    background-color: #483d8b;
    justify-content: center;
    width: auto;
    padding-bottom: 10px;
    max-height: fit-content;
}

.navul {
    list-style-type: none;
    display: flex;
    background-color: #655aaf;
    margin-block-start: 0;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.navli {
    font-family: arial;
    font-size: 17px;
}

.navli a {
    color: white;
    text-decoration: none !important;
    text-transform: uppercase;
    float: left;
    padding: .60em;
}

.navli > a:hover {
    background-color: #877ebe;
  }

.program-dates {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: #ebebeb;
  padding-bottom: 1px;
  padding-top: 6px;
}

.home-text  {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.quote-text {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.quote-hr {
  border: none;
  border-bottom: 1px #655aaf solid;
  display: block;
  width: 60%;
}

.country-img {
  float: left;
  width: 50%;
  height: 25vh;
  object-fit: cover;
}

header {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
  color: gray;
}

footer {
  background-color: #655aaf;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot-note {
  margin: 3px;
  font-size: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: inline-block;
  background-color: #e6e3f7;
}

.form p {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

@media (max-width: 800px) {
  .cju {
    font-size: 1.5em;
  }
  .navli {
    font-size: 12px;
  }
  .lefter {
    order: 1;
  }
  .righter {
    order: 2;
  }
  .middler {
    flex-direction: column;
    /* margin-bottom: 12%; */
  }
  .foot-note {
    font-size: 12px;
  }
  footer {
    height: 10%;
  }
}

/* TODO: responsive images */